@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "DotGothic16", sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

/* JS から classList.add("visible") で表示切り替えするための上書きルール */
.visible {
  display: flex !important;
}

#game-container canvas {
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}

.line-seed-jp-regular {
  font-family: "LINE Seed JP", sans-serif;
  font-weight: 400;
  font-style: normal;
}
